/* room */
.room {
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  position: relative;
}

.room:hover {
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.5) !important;
}

.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
}

.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}

.room-link {
  position: absolute;
  bottom: 4em;
  right: 3.5em;
  opacity: 0;
  transition: all 0.3s linear;
}

.room:hover {
  background: rgba(0, 0, 0, 0.8);
}

.room:hover img {
  opacity: 0.3;
}

.room:hover .price-top {
  opacity: 0;
}

.room:hover .room-link {
  opacity: 1;
  transform: translate(-90%, -200%) scale(1);
  -webkit-transform: translate(-90%, -200%) scale(1);
  -moz-transform: translate(-90%, -200%) scale(1);
  -ms-transform: translate(-90%, -200%) scale(1);
  -o-transform: translate(-90%, -200%) scale(1);
}

.room-info {
  background: #f2f3f4;
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0;
}

/************ MEDIA QUERIES ***************************/
@media screen and (max-width: 1200px) {
  .room-link {
    position: absolute;
    bottom: 2em;
    right: 0.5em;
    opacity: 0;
    transition: all 0.3s linear;
  }

  .room:hover .room-link {
    opacity: 1;
    transform: translate(-90%, -200%) scale(1);
    -webkit-transform: translate(-90%, -200%) scale(1);
    -moz-transform: translate(-90%, -200%) scale(1);
    -ms-transform: translate(-90%, -200%) scale(1);
    -o-transform: translate(-90%, -200%) scale(1);
  }
}
